<!-- Orbit -->
<div class="orbit" role="region" aria-label="Favorite Product Pictures" data-orbit data-options"animInFromLeft:fade-in; animOutToRight:fade-out;">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="https://unsplash.it/2000/750?image=1042" alt="">
      <figcaption class="orbit-caption">Product 1</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="https://unsplash.it/2000/750?image=1041" alt="">
      <figcaption class="orbit-caption">Product 2</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="https://unsplash.it/2000/750?image=1037" alt="">
      <figcaption class="orbit-caption">Product 3</figcaption>
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="https://unsplash.it/2000/750?image=1035" alt="">
      <figcaption class="orbit-caption">Product 4</figcaption>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>

<!-- Product Section -->
<div class="row small-up-2 large-up-4">
  <div class="column column-block">
    <img class="thumbnail" src="https://unsplash.it/400/300?image=998">
    <h5>Nulla At Nulla Justo, Eget</h5>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column column-block">
    <img class="thumbnail" src="https://unsplash.it/400/300?image=755">
    <h5>Nulla At Nulla Justo, Eget</h5>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column column-block">
    <img class="thumbnail" src="https://unsplash.it/400/300?image=738">
    <h5>Nulla At Nulla Justo, Eget</h5>
    <a href="#" class="button expanded">Buy</a>
  </div>
  <div class="column column-block">
    <img class="thumbnail" src="https://unsplash.it/400/300?image=687">
    <h5>Nulla At Nulla Justo, Eget</h5>
    <a href="#" class="button expanded">Buy</a>
  </div>
</div>
