/*
Modified "Pori" Theme

Modifying Author: Chris Anthony
Modified on: Monday, April 3, 2017

Original Author URI: http://www.themengraph.com/
Original Author: Shah Zobayer Ahmed

License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/* FONTS */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,700,800,400italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900,700,600,500,300,200,100);

/* GENERAL */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    background: #fff;
    color: #656565;
    padding-top: 60px;
}

a {
    color: $brand-primary;
    &:focus {
        outline: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0px;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    font-family: 'Roboto', serif;
    line-height: 140%;
    color: #01090c;
      h1 {
          font-size: 22px;
      }
      h2 {
          font-size: 20px;
      }
      h3 {
          font-size: 18px;
      }
      h4 {
          font-size: 16px;
      }
      h5 {
          font-size: 14px;
      }
      h6 {
          font-size: 13px;
      }
}

.lead {
    font-family: 'Open Sans', Arial,sans-serif;
    font-size: 18px;
    margin: 15px 0;
    padding: 0;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

    /* Forms */

label.required:after {
    content:" *";
}

    /* Bootstrap Focus Glow Override */

#bootstrap-overrides input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus{
    border-color: $brand-primary;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(26, 188, 156, 0.6);
    outline: 0 none;
}

/* HEADER */

.navbar {
    background: #fff;
    padding: 5px 0;
    margin-bottom: 0px;
    .navbar-brand {
        color: #555252;
        strong {
            color: $brand-primary;
        }
    }
}

.navbar-form .form-control {
    margin: 0px 5px 0px 0px;
}

.navbar-default {
    .navbar-collapse {
        text-align: center;
        padding: 0;
    }
    .navbar-nav {
        .open a:focus {
            color: #777;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

ul.navbar-nav {
    background: transparent;
    margin: 0 auto;
    margin-bottom: -5px;
    display: inline-block;
    float: none;
    li a {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: #777;
        &.active, &:hover {
            background: transparent !important;
            color: $brand-primary !important;
        }
    }
}

.dropdown-toggle {
    background: transparent !important;
    text-align: center;
    color: #777;
}

/* FOOTER */

.footer-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
    height: 75px;
    padding: 25px 10%;
    background-color: #4d4d4d;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    .breadcrumb {
        height: 40px;
        padding: 0px;
        margin: 0px;
    }
    ol {
        float: left;
        background: transparent;
        padding: 0px;
        margin: 0px;
    }
    ul {
        float: right;
        list-style-type: none;
        li {
            float: left;
            padding: 0px 5px;
        }
        .fa {
            font-size: 21px;
            padding: 0px 5px;
        }
        .fa-facebook {
            margin-left: 20px;
        }
    }
    a.active, a:hover {
        color: #fff;
        text-decoration: none;
    }
    .divider {
        color: #fff;
    }
}

/* RESPONSIVE STYLE */

@media (max-width: 815px) {
    .navbar-right {
        padding-right: 35%;
    }
    body {
        padding-top: 110px;
    }
}

@media (max-width: 767px) {
    .navbar {
        border: 0;
    }
    .navbar-right {
        overflow: hidden;
        padding: 1.5% 5%;
        margin: 0;
    }
    body {
        overflow: hidden;
        padding-top: 60px;
    }
    .footer-section {
        height: 125px;
    }
}

@media (max-width: 379px) {
    .fa {
        visibility: hidden;
    }
}
