<%= provide(:title, "Product #{@product.name}") %>
<div class="row">
  <p>
    Name:
    <%= @product.name %>
  </p>
</div>

<div class="row">
  <p>
    Description:
    <%= @product.description %>
  </p>
</div>

<div class="row">
  <p>
    Website:
    <%= @product.website %>
  </p>
</div>
