<footer class="footer-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
        </ol>
      </div>
      <div class="col-xs-8">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
